
.a{
    width:32%;
    padding:16% 0;
    border-radius:15px ;
    background: #fea500;
    margin:1%;
    float:left;
}
.b{
    width:32%;
    padding:16% 0;
    border-radius:15px ;
    background: #fea500;
    margin:1% 0 1% 0;
    float:left;
}
.c{
    width:32%;
    padding:16% 0;
    border-radius:15px ;
    background: #fea500;
    margin:1%;
    float:left;
}
.d{
    width:32%;
    padding:16% 0;
    border-radius:15px ;
    background: #fea500;
    margin:0 0 1% 1%;
    float:left;
}
.e{
    width:32%;
    padding:16% 0;
    border-radius:15px ;
    background: #fea500;
    margin:0 1% 1% 1%;
    float:left;
}
.f{
    width:32%;
    padding:16% 0;
    border-radius:15px ;
    background: #fea500;
    margin:0  1% 1% 0;
    float:left;
}
.g{
    width:32%;
    padding:16% 0;
    border-radius:15px ;
    background: #fea500;
    margin:0 1% 1% 1%;
    float:left;
}
.h{
    width:32%;
    padding:16% 0;
    border-radius:15px ;
    background: #fea500;
    margin:0 0 1% 0;
    float:left;
}
.i{
    width:32%;
    padding:16% 0;
    border-radius:15px ;
    background: #fea500;
    margin: 0 1% 1% 1%;
    float:left;
}
